<style>
  .main-container {
    margin: 20px 100px;
  }
  .projects-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 35px;
    margin-top: 5px;
    padding: 0;
  }
  .header-container {
    display: flex;
  }
  .project {
    border: 2px solid black;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
    font-weight: bold;
  }
  .project:hover {
    transform: scale(105%);
  }
  .add-button {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 3px;
    justify-self: center;
    border: 3px solid black;
    padding: 6px;
    font-size: 17px;
    background-color: black;
    color: white;
    font-weight: bold;
  }
  .add-button:hover {
    color: black;
    background-color: white;
    font-weight: bolder;
  }
</style>
<div>
  <div class="main-container">
    <div class="header-container">
      <h2 class="projects-header">Projects</h2>
      <div class="add-button" (click)="addForm()">New Project</div>
    </div>
    <div class="projects-container">
      <div
        *ngFor="let project of Data$"
        class="project"
        [routerLink]="'/projects/' + project.id"
      >
        {{ project.name }}
      </div>
    </div>
    <div class="function-container"></div>
  </div>
</div>
